<div class="max-w-3xl mx-auto p-8">
  <!-- ヘッダー -->
  <div class="flex justify-end space-x-2 mb-4">
    <%= link_to '新規投稿', new_post_path, class: "btn btn-outline" %>
    <%= link_to 'マイページ', user_path(current_user), class: "btn bg-yellow-400 text-white" %>
    <%= link_to 'トップページ', root_path, class: "btn btn-primary" %>
  </div>

  <h1 class="text-3xl font-bold text-center mb-8">新規投稿</h1>

<div id="post_form">
  <%= render partial: "posts/form", locals: { post: @post } %>
</div>

<!-- フッター -->
<footer class="mt-16 text-center text-sm text-gray-600 py-6 border-t">
  <a href="/terms" class="hover:underline">利用規約</a>
  <a href="/privacy" class="hover:underline">プライバシー規約</a>
  <a href="/contact" class="hover:underline">お問い合わせ先</a>
</footer>
